<nav class='menu'>
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" (click)='navigateToMain()'>Главная</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" (click)='navigateToAbout()'>Обо мне</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" (click)='navigateToProjects()'>Проекты</a>
        </li>
        <li class="menu__item">
            <a class="menu__link">Контакты</a>
        </li>
        <li class="menu__item">
            <a class="menu__link">Заказать сайт</a>
        </li>
    </ul>
</nav>